<%- messages() %>
<% if (errors) { %>
    <ul class="notice">
        <% errors.array().forEach(error => { %>
            <li><%= error.msg %></li>
       <%  }) %>
    </ul>
    <% } %>
<div class="register-background">
<form action="/inv/update" method="post" class="register-form" id="edit-form">

    <h1><%= title %></h1>

    <p class="requirement">ALL FIELDS ARE REQUIRED.</p>

    <label for="inv_make">Make</label>
    <input type="text" name="inv_make" id="inv_make" required value="<%= locals.inv_make %>">

    <label for="inv_model">Model</label>
    <input type="text" name="inv_model" id="inv_model" required value="<%= locals.inv_model %>">

    <label for="inv_description">Description</label>
    <textarea name="inv_description" id="inv_description" required  value="<%= locals.inv_description %>"><%- locals.inv_description %></textarea>   

    <label for="inv_image">Image Path</label>
    <input type="text" name="inv_image" id="inv_image" required value="<%= locals.inv_image %>"> 
    
    <label for="inv_thumbnail">Image T Path</label>
    <input type="text" name="inv_thumbnail" id="inv_thumbnail" required value="<%= locals.inv_thumbnail %>"> 

    <label for="inv_year">Year</label>
    <input type="text" name="inv_year" id="inv_year" required pattern="^\d{4}$" value="<%= locals.inv_year %>">

    <label for="inv_price">Price</label>
    <input type="text" name="inv_price" id="inv_price" required pattern="^\d+$" value="<%= locals.inv_price %>">

    <label for="inv_miles">Miles</label>
    <input type="text" name="inv_miles" id="inv_miles" required pattern="^\d+$" value="<%= locals.inv_miles %>">

    <label for="inv_color">Color</label>
    <input type="text" name="inv_color" id="inv_color" required  value="<%= locals.inv_color %>">

  
    <%- classificationList %>

    <button type="submit" disabled id="upButton">Update Vehicle</button>

    <input type="hidden" name="inv_id" <% if(locals.inv_id) { %> value="<%= locals.inv_id %>"
        <% } %>>

</form>
</div>

<script src="../../js/inv-update.js"></script>